/*
 * Device Tree Source for NUC980 IOT board
 *
 * Copyright (C) 2019 Nuvoton Technology Corp.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
/dts-v1/;
#include "nuc980.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Nuvoton NUC980 IOT V1.0";
	compatible = "nuvoton,nuc980-dev-v1.0", "nuvoton,nuc980";

	chosen {
		bootargs = "console=ttyS0,115200n8 mem=64M lpj=744448";
	};

	leds {
		compatible = "gpio-leds";

		status {
			label = "kooiot:green:status";
			gpios = <&gpio 0x48 GPIO_ACTIVE_LOW>; /* PB8 */
			linux,default-trigger = "heartbeat";
		};

		csq {
			label = "kooiot:green:csq";
			gpios = <&gpio 0x4D GPIO_ACTIVE_HIGH>; /* PB13 */
			default-state = "off";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&gpio 0x8A GPIO_ACTIVE_LOW>; /* PE.10 / EINT2 - K1 */
		};

		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio 0x8C GPIO_ACTIVE_LOW>; /* PE.12 / EINT3 - K2 */
		};
	};

	apb {
		uart1: serial@b0071000 {
			status = "disabled";
		};

		uart2: serial@b0072000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart2_PA_2>;
			pdma-enable = <1>;
			status = "okay";
		};

		uart3: serial@b0073000 {
			status = "disabled";
		};

		uart4: serial@b0074000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart4_PD_2>;
			pdma-enable = <1>;
			status = "okay";
		};

		uart5: serial@b0075000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart5_PG_2>;
			pdma-enable = <1>;
			status = "okay";
		};

		uart6: serial@b0076000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart6_PA_2>;
			pdma-enable = <1>;
			status = "okay";
		};

		uart7: serial@b0077000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart7_PB_2>;
			pdma-enable = <1>;
			status = "okay";
		};

		uart8: serial@b0078000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart8_PA>;
			pdma-enable = <1>;
			status = "okay";
		};

		uart9: serial@b0079000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart9_PB_PE>;
			pdma-enable = <1>;
			status = "disabled";
		};

		can0: can@b00a0000 {
			status = "disabled";
		};

		can1: can@b00a1000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart9_PB_PE>;
			status = "okay";
		};

		can2: can@b00a2000 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_can2_PB>;
			status = "okay";
		};

		can3: can@b00a3000 {
			status = "okay";
		};

		rtc: rtc@b0041000 {
			status = "okay";
		};

		nadc: nadc@b0043000 {
			status = "disabled";
		};

		pwm0: pwm@b0058000 {
			status = "disabled";
		};

		pwm1: pwm@b0059000 {
			status = "disabled";
		};
		pinctrl: pinctrl@b0000000 {
			qspi0 {
				pinctrl_qspi0_quad: qspi0_quad {
					nuvoton,pins =
						<3 0x2 0x1 0
						 3 0x3 0x1 0
						 3 0x4 0x1 0
						 3 0x5 0x1 0
						 3 0x6 0x1 0
						 3 0x7 0x1 0
						>;
				};
			};

			uart2 {
				pinctrl_uart2_PA_2: uart2-PA-2 {
					nuvoton,pins =
						<0 9 2 0
						 0 0xa 2 0>;
				};
			};

			uart4 {
				pinctrl_uart4_PD_2: uart4-PD-2 {
					nuvoton,pins =
						<3 0xc 1 0
						 3 0xd 1 0>;
				};
			};

			uart5 {
				pinctrl_uart5_PG_2: uart5-PG-2 {
					nuvoton,pins =
						<6 6 2 0
						 6 7 2 0>;
				};
			};

			uart6 {
				pinctrl_uart6_PA_2: uart6-PA-2 {
					nuvoton,pins =
						<0 4 1 0
						 0 5 1 0>;
				};
			};

			uart7 {
				pinctrl_uart7_PB_2: uart7-PB-2 {
					nuvoton,pins =
						<1 4 5 0
						 1 6 5 0>;
				};
			};

			uart8 {
				pinctrl_uart8_PA: uart8-PA {
					nuvoton,pins =
						<0 0xb 2 0
						 0 0xc 2 0>;
				};
			};
		};
		qspi0: spi@b0060000 {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_qspi0_quad>;
			num_cs  = <2>;
			lsb	 = <0>;
			txneg   = <1>;
			rxneg   = <0>;
			clkpol  = <0>;
			divider = <4>;
			sleep   = <0>;
			txnum   = <0>;
			txbitlen = <8>;
			bus_num	= <0>;

			flash: flash@0 {
				compatible = "spi-nand";
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0>;
				spi-max-frequency = <12000000>;
				spi-rx-bus-width = <4>;
				spi-tx-bus-width = <4>;
				partition@0 {
					label = "uboot";
					reg = <0x00000000 0x00180000>;
				};
				partition@1 {
					label = "dtb";
					reg = <0x00180000 0x00020000>;
				};
				partition@2 {
					label = "firmware";
					reg = <0x00200000 0x00000000>;
				};
			};
		};

		spi0: spi@b0061000 {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			num_cs  = <2>;
			lsb	 = <0>;
			txneg   = <1>;
			rxneg   = <0>;
			clkpol  = <0>;
			divider = <4>;
			sleep   = <0>;
			txnum   = <0>;
			txbitlen = <8>;
			bus_num	= <1>;

		};

		spi1: spi@b0062000 {
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;

			num_cs  = <2>;
			lsb	 = <0>;
			txneg   = <1>;
			rxneg   = <0>;
			clkpol  = <0>;
			divider = <4>;
			sleep   = <0>;
			txnum   = <0>;
			txbitlen = <8>;
			bus_num	= <2>;

		};

		etimer0: etimer0@b0050000 {
			status = "disabled";
		};

		etimer1: etimer1@b0050100 {
			status = "disabled";
		};

		etimer2: etimer2@b0051000 {
			status = "disabled";
		};

		etimer3: etimer3@b0051100 {
			status = "disabled";
		};

		i2c0: i2c0@b0080000 {
			status = "disabled";

			nau8822: nau8822@1a {
				compatible = "nuvoton,nau8822";
				reg = <0x1a> ;
			};
		};

		i2c1: i2c1@b0081000 {
			status = "disabled";
			pinctrl-0 = <&pinctrl_i2c1_PB>;
		};


		i2c2: i2c2@b0082000 {
			status = "okay";
			pinctrl-0 = <&pinctrl_i2c2_PB>;
		};

		i2c3: i2c3@b0083000 {
			status = "disabled";
			pinctrl-0 = <&pinctrl_i2c3_PB>;
		};

	};

	ahb {
		usbh_ehci@b0015000 {
			status = "okay";
		};
		usbh_ohci@b0017000{
			status = "okay";
		};

		usbdev@b0016000 {
			status = "okay";
		};

		fmi@b0019000 {
			compatible = "nuvoton,nuc980-fmi", "nand";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_nand>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0x0 {
				label = "u-boot";
				reg = <0x00000000 0x0200000>;
			};

			partition@0x200000 {
				label = "Kernel";
				reg = <0x0200000 0x1400000>;
			};

			partition@0x1600000 {
				label = "user";
				reg = <0x1600000 0x6480000>;
			};
		};

		sdh@b0018000 {
			status = "disabled";
		};

		emac0@b0012000 {
			status = "okay";
		};
		emac1@b0022000 {
			status = "okay";
		};
		cap0@b0024000 {
			status = "disabled";
		};
		cap1@b0014000 {
			status = "disabled";
		};
		dma@b0008000 {
			status = "okay";
		};

		i2s: i2s@b0020000 {
			status = "okay";
		};

		i2s_pcm: i2s_pcm {
			status = "okay";
		};

		sound {
			compatible = "nuvoton,nuc980-audio";
			i2s-controller = <&i2s>;
			i2s-platform = <&i2s_pcm>;
			status = "okay";
		};
		ebi: ebi@b0010000 {
			status = "disabled";
		};
	};
};
